@media only screen and (max-width:1000px){
.navBar{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 100%;
}
.menuDropDown{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: left;
    align-self: center;
    background-image: url('C:\Users\ocris\Documents\PROJECTS\VSCode_Proj\Heco_App\client\public\dropDownMenu.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
    width: 50px;
    height: 100%;
}
.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    row-gap: 0px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 10% 90%;
}
.dropDownList{
    z-index: 90;
    grid-column: 1/2;   
    grid-row: 2/3; 
    height: 100%;
    width: 100%;
    max-width: 300px;

    display: grid;
    grid-auto-rows: 35%;
}
.dropDownList>div{
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DC5F00;
}
.inventoryIcon{
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../public/inventoryIcon.svg');
    margin-right: 10%;
}
.homeIcon{
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../public/homeIcon.svg');
    margin-right: 10%;
}
.contactIcon{
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../public/contactIcon.svg');
    margin-right: 10%;
}
.requestIcon{
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../public/requestIcon.svg');
    margin-right: 10%;
}
.departmentIcon{
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../public/departmentIcon.svg');
    margin-right: 10%;
}
.button{
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 5%;
}

.profile{
    grid-column: 2/3;
    grid-row: 1/2;
    height: 80%;
    justify-self: right;
    align-self: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.smallProfileLabel{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    font-size: 1.2rem;
    color: #EEEEEE;
}
.smallProfilePic{
    width: 40px;
    height: 40px;
    justify-self: center;
    align-self: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border: 2px solid black;

    margin-left: 20px;
    margin-right: 15px;
    border-radius: 100%;
    background-color: red;
}   
}
@media only screen and (min-width: 1000px) {
.navBar{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: 100%;
}
.logo{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    color: black;
    background-image: url('../../public/heco_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;    
    height: 50px;
}
.department>label,
.request,
.response,
.inventory,
.contact{
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color:white;
    font-weight: bold;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}
.department:hover,
.request:hover,
.response:hover,
.inventory:hover,
.contact:hover{
    border-radius: 0px;
    background-color: #686D76;
}
.department>label:hover,
.request:hover,
.response:hover,
.inventory:hover,
.contact:hover{
    font-size: 1.3rem;
}
.department{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-auto-rows: 70%;
}
.departmentItem{
    width: 100%;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #686D76;
    z-index: 10;
}
.departmentItem:hover{
    background-color: orangered ;
    font-size: 1.1rem;
}   
.departmentItem>label{
    color: #EEEEEE;
    font-weight: bold;
    margin: 0px 10% 0px 10%;
}
.arrow{
    width: 10%;
    height: 80%;
    margin-bottom: 17px;
    margin-left: 5px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.departmentItem>.arrow{
    background-image: url('../../public/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 7%;
}

.profile{
    justify-self: center;
    align-self: center;
    grid-column: 6/7;
    grid-row: 1/2;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.profile:hover label{
    text-shadow: 0px 0px 5px white;
}
.profile:hover img{
    box-shadow: 0px 0px 5px white;
}
.smallProfileLabel{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    font-size: 1.2rem;
}
.smallProfilePic{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;

    width: 60px;
    height: 60px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border: 2px solid black;

    margin-left: 10px;
    border-radius: 100%;
    background-color: red;
}
}
