* ::-webkit-scrollbar{
    display: none;
}
.container{
    grid-column: 3/4;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    background-color: moccasin;

    display: grid;
    grid-template-columns: 10% auto 15%;
    grid-template-rows: 12% 85%;
    
}
.userProfileTitle{
    grid-column: 1/4;
    grid-row: 1/2;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 35px;
    font-weight: bold;
}
.userProfileList{
    grid-column: 1/4;
    grid-row: 2/3;
    
    padding: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
    
    outline: 2px solid black;

    overflow-x: hidden;
    width: 90%;
    height: 90%;
    background-color: beige;
    border-radius: 15px;
}
.userProfileList *{
    flex-shrink: 0;
    overflow-x: hidden;
}
.userProfileContainer{
    grid-column: 2/3;
    width: 90%;
    height: 13%;

    margin: 10px;
    display: grid;
    grid-template-columns: 15% 34% 15% 18% 18%;
    grid-template-rows: auto;

    background-color:orangered;

    border-radius: 10px;
    outline: 2px solid black;
}
.userProfilePicContainer{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
.userProfileInput{
    display: none;
}
.userProfilePic{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* border-radius: 30px 0px 0px 10px; */
    border: 0px;
    outline: 0px;
    background-color: blue;
}
.userProfileName{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    outline: 2px solid black;
    background-color: bisque;
}
.userProfileName *{
    font-size: 1.2rem;
    font-weight: bold;
}
.userProfileName label{
    font-weight: normal;
}
.userProfileClockHour{
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userProfileDelete{
    grid-column: 4/5;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    font-weight: bold;
    font-size: 1rem;
    outline: 2px solid black;
}
.userProfileDelete:hover{
    font-size: 1.3rem;
    text-shadow: 0px 0px 5px red;
}
.userProfileDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;

    font-size: 15px;
    font-weight: bold;
    text-shadow: 0px 0px 5px white;
}
.userProfileDetails:hover{
    font-size: 1.3rem;
    text-shadow: 0px 0px 5px yellow;
}
.addUserProfile{
    grid-column: 3/4;
    grid-row: 1/2;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-right: 20px;

    width: 100%;
    height: 60%;
    align-self: center;
    justify-self: center;

    font-size: 1.3rem;
    font-weight: bold;

    outline: 2px solid black;
    border-radius: 20px;
    background-color: white;
}
.addUserProfile:hover{
    text-shadow: 2px 2px 5px green;
    outline: 3px solid black;
}

.userPanelBackground{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;

    width: 100%;
    height: 100%;
    background-color: rgba(100, 20, 20, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}
.userPanel{
    width: 60%;
    height: 70%;

    background-color: firebrick;

    border-radius: 30px;
    box-shadow: 0px 0px 3px 30px firebrick;
    outline: 1px solid black;

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 70% 10% auto auto 5%;
}
.userPanel input{
    outline: none;
    border: none;
    
    width: 60%;
    height: 90%;
    
    padding-left: 5%;
    border-radius: 15px;
}
.userPanel input:focus{
    outline: 2px solid black;
}
.userPic{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0px 0px 10px;
    border: 0px;
    outline: 0px;
    outline: 2px solid black;
    background-color: blue;
}
.userPic:hover{
    text-shadow: 0px 0px 10px white;
    outline: 5px solid black;
}
.userUserName{
    grid-column: 1/2;
    grid-row: 3/4;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.userFirstName{
    grid-column: 2/3;
    grid-row: 3/4;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.userLastName{
    grid-column: 2/3;
    grid-row: 4/5;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.userPassword{
    grid-column: 1/2;
    grid-row: 4/5;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.userDepartment{
    margin-top: 10px;
    grid-column: 2/3;
    grid-row: 1/2;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
}
.userRole{
    margin-top: 10px;
    grid-column: 2/4;
    grid-row: 1/2;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
}
.userDepartment div{
    background-color: orange;
    width: 80%;
    height: 15%;
    border-radius: 10px;
    outline: 2px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}
.userDepartment div:hover{
    background-color: orangered;
}
.userRole div{
    background-color: orange;
    width: 80%;
    height: 15%;
    border-radius: 10px;
    outline: 2px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}
.userRole div:hover{
    background-color: orangered;
}
.statusMessage{
    grid-column: 1/3;
    grid-row: 2/3;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.userSubmit{
    background-color: white;
    grid-row: 2/4;
    grid-column: 3/4;

    width: 80%;
    height: 60%;

    border-radius: 10px;
    outline: 2px solid black;

    display: flex;
    align-self: center;
    justify-self: center;

    justify-content: center;
    align-items: center;

    font-size: 1.3rem;
    font-weight: bold;
}
.userCancel{
    background-color: orangered;
    grid-row: 4/6;
    grid-column: 3/4;

    width: 80%;
    height: 80%;

    border-radius: 10px;
    outline: 2px solid black;

    display: flex;
    align-self: center;
    justify-self: center;

    justify-content: center;
    align-items: center;

    font-size: 1.3rem;
    font-weight: bold;
}
.userSubmit:hover{
    outline: 3px solid black;
    text-shadow: 2px 2px 2px green;
}
.userCancel:hover{
    outline: 3px solid black;
    text-shadow: 2px 2px 2px red;
}

.detailsPanelContainer{
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(0,0,0,0.1);
}
.detailsPanel{
    position: absolute;
    display: grid;
    grid-template-columns: 25% 5% auto 10%;
    grid-template-rows: 15% 15% 12% 12% 12% 12% auto 10%;

    width: 60%;
    height: 80%;

    border-radius: 10px;
    background-color: rgb(255, 83, 21);
    box-shadow: 0px 0px 10px 15px rgb(255, 83, 21);
    padding: 10px;
}
.detailsPanelPic{
    grid-column: 1/2;
    grid-row: 1/5;

    padding: 5%;
    outline: 2px solid black;
    border-radius: 15px;

    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.detailsPanelName{
    grid-row: 5/6;
    grid-column: 1/2;

    background-color: violet;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    outline: 2px solid black;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
.detailsPanelRole{
    grid-row: 6/7;
    grid-column: 1/2;

    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: white;
    outline: 2px solid black;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
.detailsPanelTime{
    grid-row: 7/8;
    grid-column: 1/2;

    background-color: white;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    outline: 2px solid black;
    border-radius: 10px;
    
    font-size: 1.5rem;
    font-weight: bold;
}
.detailsPanelDepartment{
    grid-column: 3/4;
    grid-row: 1/2;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 3rem;
    font-weight: bold;
}
.detailsPanelExit{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
    font-weight: bold;

    grid-column: 4/5;
    grid-row: 1/2;
}
.detailsPanelExit:hover{
    color: white;
    text-shadow: 3px 3px 3px gray;
}
.detailsPanelActivity{
    grid-column: 3/5;
    grid-row: 2/7;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;

    overflow: hidden;
}
.detailsPanelActivity *{
    flex-shrink: 0;
}

.detailsPanelSureContainer{
    background-color: rgba(100, 20, 20, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailsPanelSure{
    background-color: beige;
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

    width: 30%;
    height: 40%;

    border-radius: 15px;
    outline: 3px solid rgba(0, 0, 0, 0.7);
}
.sureTitle{
    grid-column: 1/3;
    grid-row: 1/2;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-weight: bold;
}
.sureButtonLeft{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 30px;
    
    width: 60%;
    height: 60%;

    justify-self: center;
    align-self: center;

    background-color: rgb(0, 255, 42);
    font-size: 30px;
    font-weight: bold;
}
.sureButtonRight{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    
    width: 60%;
    height: 60%;

    justify-self: center;
    align-self: center;

    background-color: rgb(255, 39, 39);

    font-size: 30px;
    font-weight: bold;
}
.sureButtonLeft:hover{
    text-shadow: 3px 3px 3px green;
}
.sureButtonRight:hover{
    text-shadow: 3px 3px 3px red;
}