.profileContainer{
    grid-column: 3/5;
    grid-row: 2/4;

    padding: 0px 15px 0px 15px;
    background-color: moccasin;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 10% auto;
}
.profileListContainer{
    grid-column: 1/4;
    grid-row: 1/3;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% auto auto auto auto;
    
    margin: 20px 10px 20px 10px;
    
    border-radius: 15px;
    background-color: beige;
}
.profileList{
    grid-column: 1/2;
    grid-row: 2/5;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 15px;

    border: 2px solid black;
    border-radius: 10px;
    background-color: orangered;
}
.profileList::-webkit-scrollbar{
    display: none;
}
.profileListItem{
    font-weight: 600;

    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    width: 15vw;
    height: 5vh;

    display: grid;
    grid-template-columns: 5% 20% 30% auto auto;

    border-radius: 5px;
    background-color: orange;
}
.profileItemId{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 20px;
}
.profileItemReciever{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 14px;
}
.profileItemSubject{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 16px;
}
.profileItemWhen{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/5;
    grid-row: 1/2;
    font-size: 16px;
}
.profileItemDone{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 5/6;
    grid-row: 1/2;
    font-size: 16px;

    background-color: firebrick;
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
    height: 70%;
    align-self: center;
}
.profileAccepted{
    grid-column: 1/2;
    grid-row: 1/2;

    font-size: 30px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 15px;

}
.profilePicture{
    grid-column: 2/3;
    grid-row: 2/4;
    margin-top: 15px;
    margin-right: 15px;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid black;
    /* background-image: url('../../public/profileTest.png'); */
}
.profileName{
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-weight: bold;
    font-size: 1rem;

    padding: 0px 0px 0px 10px;
    margin: 15px 15px 15px 0px;
    border: 3px solid black;
    border-radius: 15px;
    background-color:chocolate;
}
.profileClock{
    grid-column: 2/3;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
        
    width: 80%;
    height: 40%;

    font-weight: bold;
    font-size: 1.5rem;
    margin: 30px 0px 0px 15px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: orange;
}
.profileChat{
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 80%;
    height: 40%;

    font-weight: bold;
    font-size: 1.5rem;    
    margin: 30px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: orange;
}
.noTasks{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-shadow: 3px 3px orange;
}
